/* COMMON */
/* use like body tag */
.body__container {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

/* FLOAT */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

/* BTN */
.btn {
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  color: #333;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, .07);
}

.btn.btn--primary {
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* INPUT TEXT */
.input--text {
  height: 34px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
  font-size: 16px;
}
.input--text:focus {
  border-color: #51a7e8;
/* 포커스 시 안쪽 그림자 유지하기 위해 다중으로 작성 */
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 
              0 0 5px rgba(81, 167, 232, .5);
}
/* 벤더 프리픽스 */
.input--text::-webkit-input-placeholder { color: #cacaca; }
.input--text::-ms-input-placeholder { color: #cacaca; }
.input--text::-moz-input-placeholder { color: #cacaca; }

/* HEADER */
header {
  border-bottom: 1px solid rgba(0, 0, 0, .75);
  box-shadow: 0 0 5px rgba(0, 0, 0, .75);
  background-color: #fff;
  
}
header .inner {
  max-width: 980px;
  margin: 0 auto;
  height: 78px;
}
header .menu-group {
  display: flex;
  height: 100%;
  align-items: center;
}
header .menu-group .logo{
  margin-right: 10px;
}
header .menu-group .logo a{
  background-image: url('../img/logo.svg');
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -9999px;
}
header .menu-group .logo a:hover{
  background-image: url('../img/logo_on.svg');
}

header .menu-group .main-menu {
  display: flex;
}
header .menu-group .main-menu li{
}
header .menu-group .main-menu li a{
  padding: 10px;
  display: block;
  color: #3c4146;
}
header .menu-group .main-menu li a:hover{
  color: #4078c0;
}

header .sign-group {
  display: flex;
  align-items: center;
  height: 100%;
}

header .btn-group {
  order: 2;
  /* 버튼은 inline-flex로 만들어져서  인라인요소처럼 개행시 띄워짐
  그거 없애려고 .btn-group에  display: flex를 줌 */
  display: flex;
}
header .btn-group .sigin-in {
  margin-right: 4px;
}

#search-form {
  order: 1;
  margin-right: 12px;
}
#search {
  width: 160px;
  font-size: 14px;
}
#search + [type="submit"]{
  display: none;
}

header .sub-menu {
  order: 0;
  display: flex;
  margin-right: 10px;
}
header .sub-menu li a {
  padding: 8px;
  display: block;
  font-size: 13px;
  color: #3c4146;
}
header .sub-menu li a:hover {
  color: #4078c0;
}